/* styles-desktop.css */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #002D62;
    font-family: 'Lora', serif;
    line-height: 1.6;
    font-size: 18px;
}

header {
    background: linear-gradient(135deg, #FFFFFF, #002D62, #CE1126, #FFFFFF);
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo {
    max-width: 175px;
    margin-right: 10px;
}

nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 5rem;
    list-style: none;
    padding: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-list li a:hover {
    color: #FFFFFF;
    transform: scale(1.05);
}

.open-menu,
.close-menu {
    display: none;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #002D62;
    border-bottom: 3px solid #F4A900;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

section {
    padding: 40px 10%;
    border-bottom: 1px solid #ccc;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 60px 10%;
}

.welcome-section .text {
    flex: 1;
    max-width: 40%;
    font-size: 1.2rem;
}

.welcome-section .hero-image img {
    flex: 2;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.hero-image {
    flex: 1;
}

.feature {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.feature .text {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    color: #002D62;
}

.text a:hover {

    color: #f39c12;
}


.feature .text h2 {
    font-size: 1.8rem;
    color: #CE1126;
    margin-bottom: 10px;
}

.feature .text h2 a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.feature .text p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.feature .image img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.gallery a {
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

.gallery p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.gallery a:hover {
    transform: scale(1.05);
}

.sayings-section {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1550px;
}

.sayings-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.sayings-section p {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 20px;
}

.saying-btn {
    background-color: #053361;
    color: #FFFFFF;
    font-size: 1.1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background 0.3s ease, transform 0.2s;
    font-weight: bold;
}

.saying-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.saying-box {
    margin-top: 20px;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #002D62;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Montserrat', sans-serif;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #2c3e50;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #f39c12;
    color: #FFFFFF;
}

hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}

footer p {
    font-size: 0.9rem;
    margin: 5px 0;
}

hr {

    width: 40%;
    margin: 10px auto;
    border: none;
    height: 1px;
    opacity: 0.7;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .open-menu {
        display: block;
        background: none;
        border: none;
        font-size: 3rem;
        cursor: pointer;
        color: #FFFFFF;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 40vw;
        height: 100%;
        background-color: #002D62;
        transition: left 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    .nav.show {
        left: 0;
    }

    .close-menu {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: white;
        align-self: flex-end;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .nav-list li a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        text-align: right;
    }

    .welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        max-width: 880px;
        margin: 0 auto;
    }

    .welcome-section .text {
        order: 1;
        padding: 10px;
        max-width: 880px;
    }

    .welcome-section .hero-image {
        order: 2;
        width: 100%;
        max-width: 600px;
    }

    .welcome-section .hero-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .features {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        max-width: 100%;
        margin: 0 auto;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .feature .image img {
        width: 90%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .feature .text {
        width: 90%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .choose-passion h2 {
        text-align: center;
    }

    .gallery a {
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    .gallery a p {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    hr {

        width: 40%;
        margin: 10px auto;
        border: none;
        height: 1px;
        opacity: 0.7;
    }

}

/* Culture Style */
.hero {
    background: url("../images/festival1.webp") center/cover no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002D62;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.festivals {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #444;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.festival-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.festival-item {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.festival-item:hover {
    transform: translateY(-5px);
}

.festival-item img {
    width: 100%;
    border-radius: 12px;
    height: auto;
}

.festival-item h3 {
    margin-top: 15px;
    color: #CE1126;
    font-size: 1.5rem;
}

.festival-item p {
    color: #444;
    font-size: 1rem;
    line-height: 1.5;
}


/* Music Section Style */
.dominican-music {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
}

.dominican-music h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #002D62;
    border-bottom: 3px solid #F4A900;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.dominican-music p {
    font-size: 1.2rem;
    color: #444;
    max-width: 800px;
    margin: 0 auto 30px auto;
    line-height: 1.6;
}

.music-container,
.landmark-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.music-style {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.music-style:hover {
    transform: translateY(-5px);
}

.music-style img {
    width: 100%;
    border-radius: 12px;
    height: auto;
}

.music-style h3 {
    margin-top: 15px;
    color: #CE1126;
    font-size: 1.5rem;
}

.music-style p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    padding: 0 10px;
}

.music-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #053361;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.music-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.music-facts {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.music-facts h3 {
    font-size: 1.4rem;
    color: #CE1126;
    margin-bottom: 10px;
}

.music-facts p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
}

/* Food & Landmarks Page Styles */

.hero-landmarks {
    background: url('../images/hero-landmarks.webp') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002D62;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}


.landmark-item {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.landmark-item:hover {
    transform: translateY(-5px);
}

.dominican-landmarks,
.dominican-food {
    text-align: center;
}


.landmark-item img {
    width: 100%;
    border-radius: 12px;
    height: auto;
}

.landmark-item h3 {
    margin-top: 15px;
    color: #CE1126;
    font-size: 1.5rem;
}

.landmark-item p {
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    padding: 0 10px;
}

#recipe-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #053361;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s;
    cursor: pointer;
}

#recipe-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .food-landmarks-hero {
        height: 50vh;
        font-size: 1.5rem;
    }

    .food-gallery,
    .landmarks-gallery {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .recipe-card {
        max-width: 1000px;
        /* Make it wider for large screens */
        width: 70%;
    }
}

/* Food Section Styling */

.recipe-container {
    margin-top: 20px;
    text-align: center;
}


.recipe-card {
    background: #fff5e1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;

}

#recipe-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.recipe-card h3 {
    color: #CE1126;
    font-size: 1.5rem;

}

.recipe-card img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;

}

.recipe-details {
    flex: 1;
}

.recipe-card ul,
.recipe-card ol {
    padding-left: 5px;
    margin: 10px 0;
    list-style-position: inside;
}

@media screen and (max-width: 768px) {
    .recipe-card {
        flex-direction: column;
        text-align: center;
    }

    .recipe-card img {
        max-width: 80%;
    }
}

/* DR Facts & Fun */
.hero-fun-facts {
    background: url("../images/hero-fun-facts.webp") center/cover no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002D62;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
}

/* Quick Facts Section */
.quick-facts {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
    list-style-position: inside;
    display: block;
}

.quick-facts img {
    max-width: 30%;
    border-radius: 10px;
}

/* Trivia Section */

.trivia {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
    list-style-position: inside;
    display: block;
}

.trivia h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #002D62;
}

.trivia-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.fact-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.fact-card:hover,
.person-card:hover {
    transform: scale(1.05);
}

.fact-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.fact-card p {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #002D62;
}

/* Famous People */
.famous-dominicans {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
    list-style-position: inside;
    display: block;
}

.famous-dominicans h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #002D62;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: #002D62;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-card {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.person-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.person-card p {
    font-size: 1.2rem;
    color: #002D62;
}


@media (min-width: 768px) {
    .people {
        flex-direction: row;
        justify-content: center;
    }

    .person-card {
        width: 30%;
    }
}


/* Fun Section */
.fun-section {
    text-align: center;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #FFFFFF, #f8f8f8);
    list-style-position: inside;
    display: block;
}

.fun-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #002D62;
}

#fact-button {
    background-color: #053361;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

#fact-button:hover {
    background-color: #005bb5;
}