@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Lora:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

body,
html {
    height: 100%;
}


header h1 {
    background-color: #2b4373;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 1.5;
}

header h1 span {
    color: yellow;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 10px;
}

nav a:hover {
    background-color: #444;
    color: #ddd;
    text-decoration: underline;
}


.main-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.hero-content img {
    max-width: 100%;
    height: auto;
}


.web-dev-resources {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.web-dev-resources h2 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: #2b4373;
    margin-bottom: 10px;
}

.web-dev-resources ul {
    list-style-type: none;
    padding: 0;
}

.web-dev-resources li {
    margin-bottom: 10px;
}

.web-dev-resources a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 0;
}

.web-dev-resources a:hover {
    background-color: #ddd;
    color: #222;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2b4373;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}

footer p {
    margin: 5px 0;
}

#currentyear,
#lastModified {
    color: #ffd700;
}