@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Lora:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

body,
html {
    height: 100%;
}


header h1 {
    background-color: #2b4373;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 1.5;
}

header h1 span {
    color: yellow;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 10px;
}

nav a:hover {
    background-color: #444;
    color: #ddd;
    text-decoration: underline;
}



.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}


.main-grid>.card:not(.web-dev-resources) {
    grid-column: 1;
}


.web-dev-resources {
    grid-column: 2;
}


@media (max-width: 768px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}

.card {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.web-dev-resources ul {
    list-style: none;
    padding: 0;
}

.web-dev-resources li {
    margin: 10px 0;
}

.web-dev-resources a {
    color: #333;
    text-decoration: none;
}