.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    max-height: 1500px;
    object-fit: cover;
}

.info-box,
.weather-box {
    position: absolute;
    top: 20%;
    /* Ajusta según sea necesario */
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.8);
    /* Fondo semitransparente */
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    max-width: 90%;
    /* Limita el ancho para pantallas pequeñas */
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-box {
    top: 55%;
    /* Ajusta para posicionarla debajo de info-box */
}

@media (min-width: 1000px) {

    .info-box,
    .weather-box {
        max-width: 60%;
        /* Ajusta para pantallas más grandes */
    }

    .info-box {
        top: 15%;
        left: 10%;
        transform: translate(0, 0);
    }

    .weather-box {
        top: 75%;
        left: 75%;
        transform: translate(0, 0);
        /* Cambia posición */
    }
}