:root {
    --primary-color: #004da8;
    /* Azul de la bandera de Colombia */
    --secondary-color: #FDB813;
    /* Amarillo de la bandera */
    --accent-color: #cd2026;
    /* Rojo de la bandera */
    --text-color: #333;
    --background-color: #f9f9f9;
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

@media (min-width: 1025px) {

    header {
        background-color: #FDB813;
        text-align: center;
        font-size: 2.5rem;
        color: #2C3E50;
        padding: 3rem;
    }

    .hero {
        position: relative;
        background-size: cover;
        background-position: center;

    }

    .hero-img {
        width: 100%;
    }

    .info-box h3 {
        text-align: center;
        background-color: rgba(0, 50, 150, 0.8);
        mix-blend-mode: multiply;
        color: white;
        z-index: -1;
        padding: 4px;
        width: 125%;
        font-size: 1.7rem;
        margin: -5px -40px 20px -60px;
    }


    .info-box {
        position: absolute;
        top: 15rem;
        left: 6rem;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem 3rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        line-height: 3;
        text-align: center;
    }

    .weather-box {
        position: absolute;
        bottom: 19rem;
        right: 3rem;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem 3rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        line-height: 3;
        text-align: center;
    }

    .weather-box h3 {
        text-align: center;
        background-color: rgba(0, 50, 150, 0.8);
        mix-blend-mode: multiply;
        color: white;
        z-index: -1;
        padding: 4px;
        width: 135%;
        font-size: 1.7rem;
        margin: -5px -40px 20px -60px;
    }

    .weather-box i {
        font-size: 2rem;
        margin-left: 10px;
        vertical-align: middle;
        transition: color 0.3s ease;
        /* Smooth color transition */
    }

    /* Color the icon for different conditions */
    .weather-box i.bi-cloud-sun {
        color: #ffdd57;
        /* Yellow for partly cloudy */
    }

    .weather-box i.bi-sun {
        color: #f39c12;
        /* Orange for clear weather */
    }

    .weather-box i.bi-cloud-rain {
        color: #3498db;
        /* Blue for rainy weather */
    }

    .weather-box i.bi-cloud {
        color: #95a5a6;
        /* Grey for default cloudy */
    }

    .weather-box i.bi-cloud-lightning {
        color: #e74c3c;
        /* Red for stormy weather */
    }

    footer {
        background-color: #8B0000;
        color: #fff;
        padding: 5rem;
        text-align: center;
        font-size: 20px;
        padding: 3rem;
    }
}