:root {
    --primary-color: #004da8;
    /* Azul de la bandera de Colombia */
    --secondary-color: #fecb00;
    /* Amarillo de la bandera */
    --accent-color: #cd2026;
    /* Rojo de la bandera */
    --text-color: #333;
    --background-color: #f9f9f9;
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.hero img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

main {
    padding: 1rem;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    margin: 1rem 0;
}

.info-box,
.weather-box {
    border: 2px solid var(--secondary-color);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    background: white;
}

.info-box h3,
.weather-box h3 {
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}