* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding: 1rem 0;
    background-color: #004080;
    color: white;
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

nav a:hover {
    text-decoration: underline;
}


/* Main Content */
main h2 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

#temple-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

figure {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    margin-top: 0.5rem;
    color: #555;
    font-size: 0.9rem;
}