* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding: 1rem 0;
    background-color: #004080;
    color: white;
}

header h1 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0.5rem 0;
}